<div class="component-container">
    <p>
        This is the housing detials container:
    </p>

    <div>
        Address Line 1: <input class="houseDetails" type="text" formControlName='houseNumber'>
    </div>
    <div>
        Address Line 2: <input class="houseDetails" type="text" formControlName='houseStreet'>
    </div>
    <div>
        City: <input class="houseDetails" type="text" formControlName='houseCity'>
    </div>
    <div>
        State: <input class="houseDetails" type="text" formControlName='houseState'>
    </div>
    <div>
        Zip: <input class="houseDetails" type="text" formControlName='houseZip'>
    </div>
</div>
